<header
    class='mx-auto fixed top-0 left-0 right-0 bg-white border-b-gray-200 z-50'
>
    <div class='flex items-center justify-around p-4 border-b border-gray-200'>
        <div class=''>
            <img
                src='/image/black-logo.webp'
                alt='MixiVivu Logo'
                class='w-40 h-10'
            />
        </div>

        <!-- Navigation Links -->
        <nav class='flex space-x-6 text-gray-600 font-medium'>
            <a href='#' class=''>Tìm du thuyền</a>
            <a href='#' class=''>Tìm vé máy bay</a>
            <a href='#' class=''>Tìm khách sạn</a>
            <a href='#' class=''>Đánh giá</a>
            <a href='#' class=''>Blog</a>
        </nav>

        <!-- Hotline and Contact Button -->
        <div class='flex items-center space-x-4 font-medium'>
            <span class='text-gray-800'>Hotline: 0922222016</span>
            <button
                class='bg-[#77dada] px-4 py-2 rounded-full hover:bg-opacity-90 transition-colors'
            >
                Liên hệ MixiVivu
            </button>
        </div>
    </div>
</header>